@using ColleagueEvaluator.Logic.Enums
@using ColleagueEvaluator.Logic.Services
@using CollegueEvaluator.Services
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model Evaluation

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IComputingWordsService computingWordsService
@inject IEvaluationService evaluationService

@{
    ViewData["Title"] = "Оцінювання колег";
}

@if(SignInManager.IsSignedIn(User))
{
	@if(SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin")){
		<div class="alert alert-info" role="alert">
		  Ви увійшли як адміністратор і маєте можливість переглядати результат.
		</div>
		<div style="display: flex; align-items: center; flex-direction: column;">
			<div style="width: 400px">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">ПІБ працівника</span>
				  </div>
				  <input id="inputUsername" type="text" class="form-control" aria-label="Ім'я співробітника" aria-describedby="inputGroup-sizing-default">
				</div>
			</div>
			<button type="button" class="btn btn-primary" onclick="createSomething()">Створити код</button>
			<div id='generatedLink'></div>
		</div>
		
	}
	else
	{
		<div class="alert alert-info" role="alert">
			Зверніться до вашого адміністратора за спеціальним кодом для голосування.
		</div>
	}
}
else
{
    <div class="alert alert-primary" role="alert">
        Щоб розпочати оцінювання увійдіть до системи!
    </div>
}

<script>
	function createSomething() {
		let inputvalue = document.getElementById('inputUsername').value;
		let generatedLink = document.getElementById('generatedLink');
		generatedLink.innerText = 'Посилання - https://localhost:7244/evaluation/' + inputvalue;
	}
</script>